html, body {
    margin: 0;
    height: 100%
}

.navbar {
    background-color: #354698;
    border-bottom: solid #E7788D 9px;
}

.navbar-menu {
        background-color: #354698;    
}

#name {
    background-color: #F5F4C0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 15%;
    box-shadow: 5px 8px #7C7AB0;
    font-weight: 600;
    font-style: italic;
    color: #354698
}

a.navbar-item {
    color: #F5F4C0;
}

a.navbar-item:hover {
    background-color: #F5F4C0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10%;
    box-shadow: 2px 3px #7C7AB0;
    font-weight: 100;
    font-style: italic;
    color: #354698
}

#home:hover {
    margin-left: 3px;
}

#projects:hover {
    margin-left: 6px;
}


img {
    border: 10px solid #E7788D;
    border-radius: 5px
}

.tile {
    border-radius: 5px
}

.title {
    margin-right: 10px;
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 6px;
}

#about {
    background-color: #354698;
}

#about-sub {
    color: #F5F4C0;
    margin:10px;
    padding-bottom: 10px;
}

br {
    height: 10px
}
#about-title {
    color: #F5F4C0;
    font-style: italic;
}

#links {
    background-color:  #E7788D;
}

#links-title {
    color: black;
    font-style:italic;
    margin-bottom: 0px
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    background-color: #F5F4C0;
}